html,body{font-size: 20px;}
        *{
        	margin: 0;
            padding: 0;
        	font-family: "微软雅黑";
        }
		.container{
			width: 100%;
			overflow: hidden;
		}
        header{
        	width: 100%;/* width: 663px; */
        	margin: 0 auto;
        	border-bottom: 5px #f2f2f2 solid;
        	padding-bottom: 0.375rem;/* padding-bottom: 15px; */
        	padding-top: 0.375rem;
            overflow: hidden;
        }
        @font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:0.9rem;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.175rem;
}
        .header-left{
            width: 0.725rem;
            margin-left: 0.75rem;
            float: left;
        }
        .header-left>a{
            text-decoration: none;
            color: #000;
        }
        .header-left>a>i{
              /* text-shadow:-1px 9px 14px  #5a5a5a; */  
              /* text-shadow: 1px 1px 19px #5a5a5a; */
              /* text-shadow:4px 7px 10px  #5a5a5a; */
           
        }
       @-webkit-keyframes headers{
           0%{ text-shadow:0px 0px 1px  #5a5a5a;}
         50%{text-shadow: -1px 9px 14px #5a5a5a;}
          80%{text-shadow: 1px 1px 19px #5a5a5a;}
          100%{text-shadow: 0px 0px 40px #5a5a5a;} 
       }
         .header-left a:hover i{
            animation:headers 2s linear infinite; 
         /* text-shadow:-1px 9px 14px  #5a5a5a; */ 
       } 
        .header-min{
        	width: 7.57rem;/* width: 303px; */
        	margin: 0 auto;
        	line-height: 2.225rem;/* line-height: 89px; */
        }
        .header-min>a{
        	display: block;
        	width: 3.52rem;/* width: 149px; */
        	font-size: 0.675rem;/* font-size: 27px; */
        	line-height: 1.25rem;/* line-height: 50px; */
        	text-decoration: none;
        	 float: left;  
        	text-align: center;
        	border-top:2px #3495e8 solid;
        	border-bottom:2px #3495e8 solid;
        	border-left:2px #3495e8 solid;
        	border-right:2px #3495e8 solid;
        }
        .header-min a:hover{
        	background-color: #3495e8;
        	color: #ffffff;
        }
         @font-face {
  font-family: 'iconfonts';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont.svg#iconfont') format('svg');
}
.iconfonts{
  font-family:"iconfonts" !important;
  font-size:0.85rem;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  /* line-height: .175rem; */
}
        .header-right{
            width: 0.925rem;
            float: right;
            margin-right: 0.6rem;
        }
        footer{
        	width: 17.3rem;/* width: 671px; */
        	margin: 0 auto;
        	padding-top: 0.575rem;
        }
        .div1{
            width: 8.1rem;
            padding-top: 0.35rem;
            padding-left: 0.35rem;
            position: relative;
            float: left;
        }
        footer>.div1>img{
            width: 8.1rem;
        }
        footer>.div1>.p1{
            width: 0.675rem;
            color: #ffffff;
            background-color: #3495e8;
            line-height: 0.55rem;
            font-size: 0.55rem;
            /* line-height: 22px; */
            border-radius:0.025rem ;/* border-radius: 1px; */
            text-align: center;
            margin-bottom: 0.3rem;
            position: absolute;
            top: 0.9rem;
            left:1.05rem;
        }
        footer>.div1>.p2{
            font-size: 0.55rem;
            color: #ffffff;
            position: absolute;
            top: 1.9rem;
            left:1.05rem;
            margin-bottom: 0.3rem;
        }
        footer>.div1>.p3{
            font-size: 0.4rem;
            color: #ffffff;
            position: absolute;
            top: 2.575rem;
            left:1.05rem;
        }
        footer>.div1>a>img{
            width: 1.225rem;
            position: absolute;
             top: 1.9rem;
            left:6.8rem;
        }
        footer>div>a>img:hover {
            transform:scale(1.5);
            opacity: 0.5;
        }
        footer>.div1>span{
            font-size: 0.675rem;
            color: #ffffff;
            position: absolute;
            top: 7.625rem;
            left:3.85rem;
        }
        footer>.div1>.footer-a{
             display: block; 
            width: 4.225rem;
            line-height: 1.325rem;
            text-decoration: none;
            color: #ffffff;
            font-size: 0.725rem;
            position: absolute;
            top: 8.6rem;
            left:2.85rem;
            border-top: 0.05rem #ffffff solid;
            border-bottom: 0.05rem #ffffff solid;
            border-left: 0.05rem #ffffff solid;
            border-right: 0.05rem #ffffff solid;
            text-align: center;
            box-shadow: 1px 2px 1 #000;
        }
        @-webkit-keyframes first{
            0%{background-color: #b2dbfb;text-shadow: -1px 0px 0 #000;}
            100%{background-color:  #0a69b5;text-shadow: 1px 1px 0px #000;}
        }
        .footer-a:hover{
            animation:first 0.9s linear;
            animation-fill-mode:forwards;
        }
         .div2{
            width: 8.1rem;
            padding-top: 0.35rem;
            padding-left: 0.35rem;
            position: relative;
            float: left;
        }
        footer>.div2>img{
            width: 8.1rem;
            /* position: absolute;
            top: 0.5rem;
            right: 3.5rem; */
            
           
        }
        footer>.div2>.p1{
            width: 0.675rem;
            color: #ffffff;
            background-color: #3495e8;
            line-height: 0.55rem;
            font-size: 0.55rem;
            /* line-height: 22px; */
            border-radius:0.025rem ;/* border-radius: 1px; */
            text-align: center;
            margin-bottom: 0.3rem;
            position: absolute;
            top: 0.9rem;
            left:1.05rem;
        }
        footer>.div2>.p2{
            font-size: 0.55rem;
            color: #ffffff;
            position: absolute;
            top: 1.9rem;
            left:1.05rem;
            margin-bottom: 0.3rem;
        }
        footer>.div2>.p3{
            font-size: 0.4rem;
            color: #ffffff;
            position: absolute;
            top: 2.575rem;
            left:1.05rem;
        }
        footer>.div2>a>img{
            width: 1.225rem;
            position: absolute;
            top: 1.9rem;
            left:6.8rem;
        }
        footer>.div2>span{
            font-size: 0.675rem;
            color: #ffffff;
            position: absolute;
            top: 7.625rem;
            left:3.85rem;
        }
        footer>.div2>.footer-a{
            display: block;
            width: 4.225rem;
            line-height: 1.325rem;
            text-decoration: none;
            color: #ffffff;
            font-size: 0.725rem;
            position: absolute;
            top: 8.6rem;
            left:2.85rem;
            border-top: 0.05rem #ffffff solid;
            border-bottom: 0.05rem #ffffff solid;
            border-left: 0.05rem #ffffff solid;
            border-right: 0.05rem #ffffff solid;
            text-align: center;
        }
         .div3{
            width: 8.1rem;
            padding-top: 0.35rem;
            padding-left: 0.35rem;
            position: relative;
            float: left;
        }
        footer>.div3>img{
            width: 8.1rem;
        }
        footer>.div3>.p1{
            width: 0.675rem;
            color: #ffffff;
            background-color: #3495e8;
            line-height: 0.55rem;
            font-size: 0.55rem;
            /* line-height: 22px; */
            border-radius:0.025rem ;/* border-radius: 1px; */
            text-align: center;
            margin-bottom: 0.3rem;
            position: absolute;
            top: 0.9rem;
            left:1.05rem;
        }
        footer>.div3>.p2{
            font-size: 0.55rem;
            color: #ffffff;
            position: absolute;
            top: 1.9rem;
            left:1.05rem;
            margin-bottom: 0.3rem;
        }
        footer>.div3>.p3{
            font-size: 0.4rem;
            color: #ffffff;
            position: absolute;
            top: 2.575rem;
            left:1.05rem;
        }
        footer>.div3>a>img{
            width: 1.225rem;
            position: absolute;
            top: 1.9rem;
            left:6.8rem;
        }
        footer>.div3>span{
            font-size: 0.675rem;
            color: #ffffff;
            position: absolute;
            top: 7.625rem;
            left:3.85rem;
        }
        footer>.div3>.footer-a{
            display: block;
            width: 4.225rem;
            line-height: 1.325rem;
            text-decoration: none;
            color: #ffffff;
            font-size: 0.725rem;
            position: absolute;
            top: 8.6rem;
            left:2.85rem;
            border-top: 0.05rem #ffffff solid;
            border-bottom: 0.05rem #ffffff solid;
            border-left: 0.05rem #ffffff solid;
            border-right: 0.05rem #ffffff solid;
            text-align: center;
        }
         .div4{
            width: 8.1rem;
            padding-top: 0.35rem;
            padding-left: 0.35rem;
            position: relative;
            float: left;
        }
        footer>.div4>img{
            width: 8.1rem;
        }
        footer>.div4>.p1{
            width: 0.675rem;
            color: #ffffff;
            background-color: #939393;
            line-height: 0.55rem;
            font-size: 0.55rem;
            /* line-height: 22px; */
            border-radius:0.025rem ;/* border-radius: 1px; */
            text-align: center;
            margin-bottom: 0.3rem;
            position: absolute;
            top: 0.9rem;
            left:1.05rem;
        }
        footer>.div4>.p2{
            font-size: 0.55rem;
            color: #ffffff;
            position: absolute;
            top: 1.9rem;
            left:1.05rem;
            margin-bottom: 0.3rem;
        }
        footer>.div4>.p3{
            font-size: 0.4rem;
            color: #ffffff;
            position: absolute;
            top: 2.575rem;
            left:1.05rem;
        }
        footer>.div4>a>img{
            width: 1.225rem;
            position: absolute;
             top: 1.9rem;
            left:6.8rem;
        }
        footer>.div4>span{
            font-size: 0.675rem;
            color: #ffffff;
            position: absolute;
            top: 7.625rem;
            left:3.85rem;
        }
        footer>.div4>.footer-a{
            display: block;
            width: 4.225rem;
            line-height: 1.325rem;
            text-decoration: none;
            color: #ffffff;
            font-size: 0.725rem;
            position: absolute;
            top: 8.6rem;
            left:2.85rem;
            border-top: 0.05rem #ffffff solid;
            border-bottom: 0.05rem #ffffff solid;
            border-left: 0.05rem #ffffff solid;
            border-right: 0.05rem #ffffff solid;
            text-align: center;
        }
         .div5{
            width: 8.1rem;
            padding-top: 0.35rem;
            padding-left: 0.35rem;
            position: relative;
            float: left;
        }
        footer>.div5>img{
            width: 8.1rem;
            /* position: absolute;
            top: 0.5rem;
            right: 3.5rem; */
            
           
        }
        footer>.div5>.p1{
            width: 0.675rem;
            color: #ffffff;
            background-color: #939393;
            line-height: 0.55rem;
            font-size: 0.55rem;
            /* line-height: 22px; */
            border-radius:0.025rem ;/* border-radius: 1px; */
            text-align: center;
            margin-bottom: 0.3rem;
            position: absolute;
            top: 0.9rem;
            left:1.05rem;
        }
        footer>.div5>.p2{
            font-size: 0.55rem;
            color: #ffffff;
            position: absolute;
            top: 1.9rem;
            left:1.05rem;
            margin-bottom: 0.3rem;
        }
        footer>.div5>.p3{
            font-size: 0.4rem;
            color: #ffffff;
            position: absolute;
            top: 2.575rem;
            left:1.05rem;
        }
        footer>.div5>a>img{
            width: 1.225rem;
            position: absolute;
             top: 1.9rem;
            left:6.8rem;
        }
        footer>.div5>span{
            font-size: 0.675rem;
            color: #ffffff;
            position: absolute;
            top: 7.625rem;
            left:3.85rem;
        }
        footer>.div5>.footer-a{
            display: block;
            width: 4.225rem;
            line-height: 1.325rem;
            text-decoration: none;
            color: #ffffff;
            font-size: 0.725rem;
            position: absolute;
            top: 8.6rem;
            left:2.85rem;
            border-top: 0.05rem #ffffff solid;
            border-bottom: 0.05rem #ffffff solid;
            border-left: 0.05rem #ffffff solid;
            border-right: 0.05rem #ffffff solid;
            text-align: center;
        }
         .div6{
            width: 8.1rem;
            padding-top: 0.35rem;
            padding-left: 0.35rem;
            position: relative;
            float: left;
        }
        footer>.div6>img{
            width: 8.1rem;
            /* position: absolute;
            top: 0.5rem;
            right: 3.5rem; */
            
           
        }
        footer>.div6>.p1{
            width: 0.675rem;
            color: #ffffff;
            background-color: #939393;
            line-height: 0.55rem;
            font-size: 0.55rem;
            /* line-height: 22px; */
            border-radius:0.025rem ;/* border-radius: 1px; */
            text-align: center;
            margin-bottom: 0.3rem;
            position: absolute;
            top: 0.9rem;
            left:1.05rem;
        }
        footer>.div6>.p2{
            font-size: 0.55rem;
            color: #ffffff;
            position: absolute;
            top: 1.9rem;
            left:1.05rem;
            margin-bottom: 0.3rem;
        }
        footer>.div6>.p3{
            font-size: 0.4rem;
            color: #ffffff;
            position: absolute;
            top: 2.575rem;
            left:1.05rem;
        }
        footer>.div6>a>img{
            width: 1.225rem;
            position: absolute;
            top: 1.9rem;
            left:6.8rem;
        }
        footer>.div6>span{
            font-size: 0.675rem;
            color: #ffffff;
            position: absolute;
            top: 7.625rem;
            left:3.85rem;
        }
        footer>.div6>.footer-a{
            display: block;
            width: 4.225rem;
            line-height: 1.325rem;
            text-decoration: none;
            color: #ffffff;
            font-size: 0.725rem;
            position: absolute;
            top: 8.6rem;
            left:2.85rem;
            border-top: 0.05rem #ffffff solid;
            border-bottom: 0.05rem #ffffff solid;
            border-left: 0.05rem #ffffff solid;
            border-right: 0.05rem #ffffff solid;
            text-align: center;
        }